createcustomerrestcallingws/createcustomer_inline_schema.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://ibm.com/CustomerDetails/" xmlns:ibmSchExtn="http://www.ibm.com/schema/extensions" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ibm.com/CustomerDetails/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
			<xsd:element ibmSchExtn:docRoot="true" name="customer_details">
				<xsd:complexType>
					<xsd:sequence>
                        <xsd:element name="service_header">
                            <xsd:complexType>
					            <xsd:sequence>
                                    <xsd:element name="brand" type="xsd:string"/>
                                </xsd:sequence>
				            </xsd:complexType>
                        </xsd:element>
						<xsd:element name="first_name">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="25"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="last_name">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="25"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
                        <xsd:element name="address">
                            <xsd:simpleType>
                                <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="100"/>
                                </xsd:restriction>
                            </xsd:simpleType>
                        </xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element ibmSchExtn:docRoot="true" name="customer_details_response">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="status" type="xsd:string"/>
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="customer_id" type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>